# Samples SRM

## Import libraries

In [1]:
#!pip install statsmodels

In [2]:
import pandas as pd
import numpy as np
#from statsmodels.stats.power import tt_ind_solve_power

## Importing data

In [3]:
df1 = pd.read_csv('homework_task_2.csv')

In [4]:
df1

,passport_id,region,platform,user_type_cars_name,number_ads,revenue
0,144161634,Санкт-Петербург,android,cars_seller,2,1080
1,132683716,Калининград,android,cars_simple,1,190
2,142653188,Санкт-Петербург,android,cars_seller,1,0
3,124199631,Казань,android,cars_simple,1,190
4,144045240,Казань,android,cars_simple,1,0
...,...,...,...,...,...,...
136579,144374570,Москва,android,cars_simple,2,1080
136580,144245434,Омск,android,cars_simple,1,190
136581,134759767,Самара,ios,cars_simple,1,580
136582,123856725,Москва,ios,cars_simple,2,0
136583,129581629,Санкт-Петербург,ios,cars_simple,1,380

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136584 entries, 0 to 136583
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   passport_id          136584 non-null  int64
 1   region               133114 non-null  object
 2   platform             133114 non-null  object
 3   user_type_cars_name  130112 non-null  object
 4   number_ads           136584 non-null  int64
 5   revenue              136584 non-null  int64
dtypes: int64(3), object(3)
memory usage: 6.3+ MB

In [6]:
df1.isna().sum()

passport_id               0
region                 3470
platform               3470
user_type_cars_name    6472
number_ads                0
revenue                   0
dtype: int64

In [7]:
df2 = pd.read_csv('homework_task_3.csv')

In [8]:
df2

,Unnamed: 0,passport_id,region,platform,user_type_cars_name,number_ads,revenue,vas,combined,combined_weight,group
0,105602,136957831,Волгоград,android,cars_seller,1,0,0,"('Волгоград', 'android', 'cars_seller', 0)",0.000007,['A']
1,46619,142530464,Волгоград,android,cars_seller,1,0,0,"('Волгоград', 'android', 'cars_seller', 0)",0.000007,['B']
2,97503,143220356,Волгоград,android,cars_seller,2,0,0,"('Волгоград', 'android', 'cars_seller', 0)",0.000007,['B']
3,35633,137497307,Волгоград,android,cars_seller,1,0,0,"('Волгоград', 'android', 'cars_seller', 0)",0.000007,['A']
4,52222,131622431,Волгоград,android,cars_seller,1,0,0,"('Волгоград', 'android', 'cars_seller', 0)",0.000007,['A']
...,...,...,...,...,...,...,...,...,...,...,...
26013,115718,137800551,Челябинск,ios,cars_simple,1,715,1,"('Челябинск', 'ios', 'cars_simple', 1)",0.000007,['A']
26014,49803,132964441,Челябинск,ios,cars_simple,1,1365,1,"('Челябинск', 'ios', 'cars_simple', 1)",0.000007,['B']
26015,6330,142012244,Челябинск,ios,cars_simple,1,190,1,"('Челябинск', 'ios', 'cars_simple', 1)",0.000007,['A']
26016,70319,143397390,Челябинск,ios,cars_simple,1,360,1,"('Челябинск', 'ios', 'cars_simple', 1)",0.000007,['B']
26017,127052,124480358,Челябинск,mobile,cars_simple,1,250,1,"('Челябинск', 'mobile', 'cars_simple', 1)",0.000007,['B']

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26018 entries, 0 to 26017
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           26018 non-null  int64
 1   passport_id          26018 non-null  int64
 2   region               26018 non-null  object
 3   platform             26018 non-null  object
 4   user_type_cars_name  26018 non-null  object
 5   number_ads           26018 non-null  int64
 6   revenue              26018 non-null  int64
 7   vas                  26018 non-null  int64
 8   combined             26018 non-null  object
 9   combined_weight      26018 non-null  float64
 10  group                26018 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 2.2+ MB

## Tasks

### Task 1.

 **Divide users into two groups based on revenue size: paying (revenue > 0) and non-paying (revenue = 0). Add this information to a new column called 'vas'. Find the average share of paying users across the entire dataset.**

In [10]:
df1.dropna(inplace=True)

In [11]:
bins = [float('-inf'), 0, float('inf')]
names = ['non-paying', 'paying']

df1['vas'] = pd.cut(df1['revenue'], bins, labels=names)

In [12]:
df1

,passport_id,region,platform,user_type_cars_name,number_ads,revenue,vas
0,144161634,Санкт-Петербург,android,cars_seller,2,1080,paying
1,132683716,Калининград,android,cars_simple,1,190,paying
2,142653188,Санкт-Петербург,android,cars_seller,1,0,non-paying
3,124199631,Казань,android,cars_simple,1,190,paying
4,144045240,Казань,android,cars_simple,1,0,non-paying
...,...,...,...,...,...,...,...
136579,144374570,Москва,android,cars_simple,2,1080,paying
136580,144245434,Омск,android,cars_simple,1,190,paying
136581,134759767,Самара,ios,cars_simple,1,580,paying
136582,123856725,Москва,ios,cars_simple,2,0,non-paying
136583,129581629,Санкт-Петербург,ios,cars_simple,1,380,paying

In [13]:
df1.vas.value_counts(normalize=True)

paying        0.52265
non-paying    0.47735
Name: vas, dtype: float64

### Task 2.

**Get a stratified sample of five thousand users using the alternative weights method.
The sample must be stratified according to the following parameters: `['region', 'platform', 'user_type_cars_name', 'vas']`, preserving the ratios from the original dataset. When forming a stratified sample, use np.random.seed(1) to ensure that everyone has the same dataset.**

In [14]:
np.random.seed(1)


# setting required sample size
sample_size = 5000

def population_sample_parameter(dataset, column):
    '''Function determines the proportion of values for the selected parameter in the full dataset'''
    print(column)
    print(dataset[column].value_counts(normalize = True).to_string())
    print('-------------')


print('The proportion of parameter values in the full dataset:')
parameter_list = ['region', 'platform', 'user_type_cars_name', 'vas']
for step in parameter_list:
    population_sample_parameter(df1, step)


# We will form a sample of 5,000 users, 
# based on the condition that the parameters are represented in the same ratio 
# as for the full dataset 
df1['combined'] = (
    list(zip(df1['vas'],
             df1['platform'],
             df1['region'],
             df1['user_type_cars_name']))
) # We form a column with a combination of target parameters

weight = df1['combined'].value_counts(normalize=True)
counts = df1['combined'].value_counts()

# We calculate the weight of each combination, according to which the sample will be sampled
df1['combined_weight'] = df1['combined'].apply(lambda x: weight[x]/counts[x]) 

# We sample by the weights of the parameter combinations
strat_sample_dataset_2 = df1.sample(sample_size, weights=df1['combined_weight']) 


# We will display the proportion of values for each parameter in the sample
print(f'\n\nThe proportion of parameter values in the sample of {sample_size} users:')
for step in parameter_list:
    population_sample_parameter(strat_sample_dataset_2, step)

The proportion of parameter values in the full dataset:
region
Москва             0.246580
Санкт-Петербург    0.119520
Новосибирск        0.107331
Сочи               0.087478
Екатеринбург       0.055306
Нижний Новгород    0.048758
Челябинск          0.037506
Самара             0.036914
Казань             0.034440
Ростов-на-Дону     0.032218
Красноярск         0.030036
Омск               0.026031
Уфа                0.023810
Пермь              0.023280
Воронеж            0.021712
Волгоград          0.016171
Краснодар          0.015748
Калининград        0.014564
Саратов            0.010652
Тольятти           0.008108
Ижевск             0.003835
-------------
platform
android    0.641217
ios        0.337179
desktop    0.020844
mobile     0.000761
-------------
user_type_cars_name
cars_simple    0.910692
cars_seller    0.082045
cars_dealer    0.007263
-------------
vas
paying        0.52265
non-paying    0.47735
-------------


The proportion of parameter values in the sample of 5000 users:
region
Москва             0.2458
Санкт-Петербург    0.1236
Новосибирск        0.0994
Сочи               0.0950
Екатеринбург       0.0544
Нижний Новгород    0.0526
Челябинск          0.0398
Самара             0.0384
Ростов-на-Дону     0.0334
Казань             0.0322
Красноярск         0.0296
Омск               0.0256
Пермь              0.0252
Воронеж            0.0212
Уфа                0.0192
Волгоград          0.0168
Краснодар          0.0148
Калининград        0.0130
Саратов            0.0104
Тольятти           0.0064
Ижевск             0.0032
-------------
platform
android    0.6420
ios        0.3396
desktop    0.0178
mobile     0.0006
-------------
user_type_cars_name
cars_simple    0.9102
cars_seller    0.0828
cars_dealer    0.0070
-------------
vas
paying        0.519
non-paying    0.481
-------------

### Task 3.

**Check the representativeness of the obtained sample for several parameters:**  
- **the parameter of non-paying users ('vas' = 0)**  

**Enter the p-value through the z-test with an accuracy of three decimal places.**

tbc..

### Task 4.

**Check the representativeness of the obtained sample for several parameters:**  
- **the parameter of non-paying users ('platform' = 'android')**  

**Enter the p-value through the z-test with an accuracy of three decimal places.**

### Task 5.

**Check the representativeness of the obtained sample for several parameters:**  
- **the parameter of non-paying users ('user_type_cars_name' = 'cars_seller')**  

**Enter the p-value through the z-test with an accuracy of three decimal places.**

### Task 6.

**Let's use `df2` for this and the next tasks.  
The design of the experiment assumes that the groups are represented in equal proportions. Check for a violation of split-plot randomization (SRM) in the data using the chi-squared test.  
Is there a violation of SRM according to the chi-squared test?**

### Task 7.

**Using the SSRM method discussed in the lecture, determine how many users the method will allow to say about the presence of SRM for the dataset from the previous task.**